<div class="align"> <p> Innsendt: {{opprettetTidspunkt}}</p></div>
<br>
<br>
<br>

# Inntektsmelding omsorgspenger

## Arbeidsgiver og den ansatte

**Arbeidsgiver**
<br>{{arbeidsgiverNavn}}, org.nr. {{arbeidsgiverIdent}}

**Kontaktperson fra bedriften**
<br>{{kontaktperson.navn}}, tlf. {{kontaktperson.telefonnummer}}

**Den ansatte**
<br>{{navnSøker}}, f.nr. {{personnummer}}

<hr>

## Om fraværet

**Dager med oppgitt fravært**
{{~#each fraværsperioder}}
* <span>{{fom}} - {{tom}}</span>
{{/each}}

**Har dere utbetalt lønn for dette fraværet?**
<br>{{harUtbetaltLønn}}

<hr>

## Månedslønn
**Beregnet månedslønn**
<br>{{thousand-seperator-double månedInntekt}} kr
{{#if endringsarsaker.length}}
**Årsaker til endring av inntekt**
{{~#each endringsarsaker}}
* <span>{{arsak}}{{#if (and fom tom)}}: {{fom}} - {{tom}} {{else if fom}}: fra og med {{fom}} {{#if bleKjentFra}} , ble kjent fra og med {{bleKjentFra}}{{/if}}{{else}}{{/if}}</span>
{{/each}}
{{/if}}

