<div class="align"> <p> Innsendt: {{opprettetTidspunkt}}</p></div>
<br>
<br>
<br>

# Refusjonskrav for omsorgspenger

## Om refusjon
**Utbetaler dere lønn under fraværet, og krever refusjon?**
Ja

**Hvilket år søker dere refusjon for?**
{{årForRefusjon}}

<hr>

## Arbeidsgiver og den ansatte

**Arbeidsgiver**
<br>{{arbeidsgiverNavn}}, org.nr. {{arbeidsgiverIdent}}

**Kontaktperson fra bedriften**
<br>{{kontaktperson.navn}}, tlf. {{kontaktperson.telefonnummer}}

**Den ansatte**
<br>{{navnSøker}}, f.nr. {{personnummer}}

<hr>

## Omsorgspenger
{{#with omsorgspenger}}
    **Har dere dekket de 10 første omsorgsdagene i år??**
    {{~#if harUtbetaltPliktigeDager}}<br>Ja{{else}}<br>Nei{{/if}}
    {{~#if fraværsPerioder.length}}
        <br><br>**Dager med fravær hele dagen**
        {{~#each fraværsPerioder}}
            * <span>{{fom}} - {{tom}}</span>
        {{/each}}
    {{/if}}
    {{~#if delvisFraværsPerioder.length}}
        **Dager med fravær bare deler av dagen**
        {{~#each delvisFraværsPerioder}}
            * <span>{{dato}}, {{timer}} timer</span>
        {{/each}}
    {{/if}}
{{/with}}

<hr>

## Beregnet månedslønn og refusjonskrav
**Beregnet mänedslenn og refusjonskrav**
{{thousand-seperator-double månedInntekt}} kr
{{#if endringsarsaker.length}}
<br><br>**Årsaker til endring av inntekt**
{{~#each endringsarsaker}}
* <span>{{arsak}}{{#if (and fom tom)}}: {{fom}} - {{tom}} {{else if fom}}: fra og med {{fom}} {{#if bleKjentFra}} , ble kjent fra og med {{bleKjentFra}}{{/if}}{{else}}{{/if}}</span>
{{/each}}
{{else}}{{thousand-seperator-double månedInntekt}} kr
{{/if}}

