<div class="align"> <p> Innsendt: {{opprettetTidspunkt}}</p></div>
<br>
<br>
<br>

# Refusjonskrav for omsorgspenger

## Om refusjon
**Utbetaler dere lønn under fraværet, og krever refusjon?**
<br>Ja

**Hvilket år søker dere refusjon for?**
<br>{{årForRefusjon}}

<hr>

## Arbeidsgiver og den ansatte

**Arbeidsgiver**
<br>{{arbeidsgiverNavn}}, org.nr. {{arbeidsgiverIdent}}

**Kontaktperson fra bedriften**
<br>{{kontaktperson.navn}}, tlf. {{kontaktperson.telefonnummer}}

**Den ansatte**
<br>{{navnSøker}}, f.nr. {{personnummer}}

<hr>

{{#with omsorgspenger}}
## Omsorgspenger
**Har dere dekket de 10 første omsorgsdagene i år?**
{{~#if harUtbetaltPliktigeDager}}<br>Ja{{else}}<br>Nei{{/if}}
{{~#if fraværsPerioder.length}}
<br><br>**Dager med fravær hele dagen**
{{~#each fraværsPerioder}}
* <span>{{fom}} - {{tom}}</span>
{{/each}}
{{/if}}
{{~#if delvisFraværsPerioder.length}}
<p>**Dager med fravær bare deler av dagen**</p>
{{~#each delvisFraværsPerioder}}
* <span>{{dato}}, {{timer}} timer</span>
{{/each}}
{{/if}}
{{/with}}

<hr>

## Beregnet månedslønn og refusjonskrav
**Beregnet månedslønn og refusjonskrav**
<br>{{thousand-seperator-double månedInntekt}} kr
{{#if endringsarsaker.length}}
**Årsaker til endring av inntekt**
{{~#each endringsarsaker}}
* <span>{{arsak}}{{#if (and fom tom)}}: {{fom}} - {{tom}} {{else if fom}}: fra og med {{fom}} {{#if bleKjentFra}} , ble kjent fra og med {{bleKjentFra}}{{/if}}{{else}}{{/if}}</span>
{{/each}}
{{/if}}

