<!--
<p align="right">
{{brevDato}}
</p>
-->

NAVN: {{felles.søkerNavn}}
<br/>
FØDSELSNUMMER: {{felles.søkerPersonnummer}}

<br/>

## NAV har innvilget søknaden din om kompensasjon for tap av inntekt som næringsdrivende og/eller frilanser


Du får {{månedsbeløp}} før skatt for perioden {{fom}} til {{tom}}.

Pengene blir utbetalt til kontoen din innen 3 virkedager.



### Begrunnelse for vedtaket

Du får kompensasjon for tap av inntekt i din næringsvirksomhet og som frilanser, siden inntektstapet skyldes tiltakene som er igangsatt av myndighetene for å begrense smittespredning av covid-19.



<br>
Vedtaket er gjort etter Koronaloven og forskrift..

{{> footer }}
